:root {
--color00: #0f1115;
--color01: #0f1115;
--color02: #0f1115;
--color03: #7a1f2b;
--color04: #2b6a7c;
--color05: #e6e8eb;
--color06: #2b6a7c;
--color07: #2b6a7c;
--color08: #7a1f2b;
--color09: #6b4421;
--color0A: #a8323e;
--color0B: #1f4a4a;
--color0C: #1f4a5f;
--color0D: #2b4f7c;
--color0E: #5a2f4a;
--color0F: #a8323e;
}
