@import url("resource:///org/gnome/gtk-3.0/gtk.css");

@define-color theme_bg_color #0f1115;
@define-color theme_fg_color #e6e8eb;
@define-color theme_base_color #161a22;
@define-color theme_text_color #e6e8eb;
@define-color theme_selected_bg_color #2b4f7c;
@define-color theme_selected_fg_color #e6e8eb;
@define-color insensitive_bg_color #1a1e26;
@define-color insensitive_fg_color #6a6d75;
@define-color insensitive_base_color #161a22;
@define-color theme_unfocused_bg_color #0f1115;
@define-color theme_unfocused_fg_color #c5c8cd;
@define-color theme_unfocused_base_color #161a22;
@define-color theme_unfocused_text_color #c5c8cd;
@define-color theme_unfocused_selected_bg_color #1f3a5f;
@define-color theme_unfocused_selected_fg_color #c5c8cd;
@define-color borders #2a2f3a;
@define-color unfocused_borders #2a2f3a;

@define-color warning_color #8a5a2d;
@define-color error_color #a8323e;
@define-color success_color #2d6a6a;

@define-color wm_title shade(#e6e8eb, 1.8);
@define-color wm_unfocused_title #c5c8cd;
@define-color wm_highlight shade(#0f1115, 1.03);
@define-color wm_borders_edge shade(#0f1115, 0.9);

@define-color wm_bg_a shade(#0f1115, 1.2);
@define-color wm_bg_b #0f1115;

@define-color wm_shadow alpha(black, 0.35);
@define-color wm_border alpha(black, 0.18);

@define-color wm_button_hover_color_a shade(#0f1115, 1.3);
@define-color wm_button_hover_color_b #0f1115;
@define-color wm_button_active_color_a shade(#0f1115, 0.85);
@define-color wm_button_active_color_b shade(#0f1115, 0.89);
@define-color wm_button_active_color_c shade(#0f1115, 0.9);

@define-color content_view_bg #161a22;
