:root {
--color00: #0e091d;
--color01: #0e091d;
--color02: #0e091d;
--color03: #A60234;
--color04: #11AEB3;
--color05: #14B9B5;
--color06: #11AEB3;
--color07: #11AEB3;
--color08: #c8e967;
--color09: #7cd699;
--color0A: #FD3E6A;
--color0B: #E20342;
--color0C: #FF7F41;
--color0D: #BE3F50;
--color0E: #9147a8;
--color0F: #CE4F48;
}
