@import url("resource:///org/gnome/gtk-4.0/gtk.css");

@define-color window_bg_color #0f1115;
@define-color window_fg_color #e6e8eb;
@define-color view_bg_color #161a22;
@define-color view_fg_color #e6e8eb;
@define-color accent_bg_color #2b4f7c;
@define-color accent_fg_color #e6e8eb;
@define-color accent_color #2b4f7c;
@define-color destructive_bg_color #a8323e;
@define-color destructive_fg_color #e6e8eb;
@define-color destructive_color #a8323e;
@define-color success_bg_color #2d6a6a;
@define-color success_fg_color #e6e8eb;
@define-color success_color #2d6a6a;
@define-color warning_bg_color #8a5a2d;
@define-color warning_fg_color #e6e8eb;
@define-color warning_color #8a5a2d;
@define-color error_bg_color #a8323e;
@define-color error_fg_color #e6e8eb;
@define-color error_color #a8323e;
@define-color headerbar_bg_color #161a22;
@define-color headerbar_fg_color #e6e8eb;
@define-color headerbar_border_color #2a2f3a;
@define-color headerbar_backdrop_color #0f1115;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.36);
@define-color card_bg_color #161a22;
@define-color card_fg_color #e6e8eb;
@define-color card_shade_color rgba(0, 0, 0, 0.36);
@define-color dialog_bg_color #161a22;
@define-color dialog_fg_color #e6e8eb;
@define-color popover_bg_color #161a22;
@define-color popover_fg_color #e6e8eb;
@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color rgba(0, 0, 0, 0.5);
